<div class="modal fade" id="currentConfig" tabindex="-1" aria-labelledby="currentConfig" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 0.5rem;">
            <div class="modal-header py-3">
                <p class="text-primary m-0 fw-bold"><span id="name"></span>'s Current Configuration</p>
            </div>
            <div class="modal-body py-3">
                <table class="table table-borderless">
                  <thead>
                    <tr class="table-primary">
                      <th scope="col">Hardware Type</th>
                      <th scope="col">Hardware Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>RAM</td>
                      <td>Samsung RAM</td>
                    </tr>
                    <tr>
                      <td>CPU</td>
                      <td>AMD Ryzen 5 3550H</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
     $("#get-config").click(function () {
        console.log("Inside function");
        $.ajax({
            url: 'ajax/validate_username/',
            success: function (data) {
                console.log(data);
            }
        });


    });
    $("#name").text("Amish");
</script>