<div class="modal fade" id="ticketDeleteModal" tabindex="-1" aria-labelledby="ticketDeleteModal" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 0.5rem;">
            <div class="modal-header py-3">
                <p class="text-primary m-0 fw-bold">Close Ticket?</p>
            </div>
            <div class="modal-body py-3">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label><strong>Reason for Denial: </strong></label>
                            <textarea class="form-control" id="message"></textarea>
                        </div>
                    </div>
                </div>
                <div class="mb-1">Are you sure you want to close Ticket - <strong>#{{ticketId}}</strong>?</div>
                <div class="mb-1"><button class="btn btn-primary btn-sm float-end" type="submit">Close Ticket</button></div>
            </div>
        </div>
    </div>
</div>