{% extends "base.html" %}

{% block title %}Helpdesk - Dashboard{% endblock title %}

{% block sidebar %}
<ul class="navbar-nav text-light m-2" id="accordionSidebar">
    <li class="nav-item"><a class="nav-link active" href="#"><i class="fas fa-tachometer-alt fa-3x"></i><span>Dashboard</span></a></li>
    <li class="nav-item" hidden><a class="nav-link" href="/helpdesk/members"><i class="fas fa-user-cog fa-3x"></i><span>Members</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/helpdesk/tickets"><i class="fas fa-exclamation-triangle fa-3x"></i><span>Support Tickets</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/helpdesk/tech-logs"><i class="fas fa-wrench fa-3x"></i><span>Technical Logs</span></a></li>
</ul>
{% endblock %}

{% block content %}
    
    <!-- <div class="col"><button id= "get-config" class="btn btn-primary btn-sm float-end">Fetch My Configuration</button></div> -->
        <div class="row">    
            <div class="col-md-6">
                <h4 class="text-dark mb-3">Dashboard</h4>
                <div>
                    <br><br>
                    <div class="card shadow border-start-primary py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>No. of Open Requests</span></div>
                                    <div class="text-dark fw-bold h5 mb-0"><span>{{open_requests}}</span></div>
                                </div>
                                <div class="col-auto"><i class="fas fa-exclamation fa-2x" style="color:red"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div>
                    <div class="card shadow border-start-primary py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>In-progress Requests</span></div>
                                    <div class="text-dark fw-bold h5 mb-0"><span>{{approved_requests}}</span></div>
                                </div>
                                <div class="col-auto"><i class="fas fa-tasks fa-2x text-black"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-6"> -->
            <div class="col-md-6 col-xl-6 mb-4">
                <h4 class="text-dark mb-3">Hardware Details</h4>
                <div class="card shadow border-start-primary">
                <div class="card-body">
                <div class="row d-flex justify-content-center text-center">
                <div class="text-dark h5 mb-0">
                    <table class="table table-borderless">
                        <br/><br/>
                        <tbody>
                        <tr>
                            <th class="bold" scope="row" style="text-align: left;">Device Type</th>
                            <td style="text-align: left;">{{details.DeviceType}}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: left;">CPU</th>
                            <td style="text-align: left;">{{details.CPU.Name}}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: left;">CPU</th>
                            <td style="text-align: left;">{{details.CPU.ClockSpeed}}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: left;">CPU</th>
                            <td style="text-align: left;">{{details.CPU.Manufacturer}}</td>
                        </tr>
                        {% for i in details.Mouse %}
                        <tr>
                            <th scope="row" style="text-align: left;">Mouse</th>
                            <td style="text-align: left;">{{i.PNPDeviceID}}</td>
                        </tr>
                        {% endfor %}
                        {% for i in details.RAM %}
                        <tr>
                            <th scope="row" style="text-align: left;">RAM Manufacturer</th>
                            <td style="text-align: left;">{{i.Manufacturer}}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: left;">RAM Type</th>
                            <td style="text-align: left;">{{i.Type}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th scope="row" style="text-align: left;">HDD model</th>
                            <td style="text-align: left;">{{details.HDD.0.Model}}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: left;">HDD Memory</th>
                            <td style="text-align: left;">{{details.HDD.0.Memory}}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: left;">SSD model</th>
                            <td style="text-align: left;">{{details.SSD.0.Model}}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: left;">SSD Memory</th>
                            <td style="text-align: left;">{{details.SSD.0.Memory}}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: left;">Motherboard Manufacturer</th>
                            <td style="text-align: left;">{{details.Motherboard.Manufacturer}}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: left;">Motherboard Product ID:</th>
                            <td style="text-align: left;">{{details.Motherboard.Product}}</td>
                        </tr>
                        {% for i in details.GPU %}
                        <tr>
                            <th scope="row" style="text-align: left;">GPU Model</th>
                            <td style="text-align: left;">{{i.Model}}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: left;">GPU Vendor</th>
                            <td style="text-align: left;">{{i.Vendor}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th scope="row" style="text-align: left;">Keyboard</th>
                            <td style="text-align: left;">{{details.Keyboard.PNPDeviceID}}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: left;">Camera Name</th>
                            <td style="text-align: left;">{{details.Camera.Name}}</td>
                        </tr>
                        <tr>
                            <th scope="row" style="text-align: left;">Camera Id</th>
                            <td style="text-align: left;">{{details.Camera.Id}}</td>
                        </tr>
                        
                        </tbody>
                    </table>
                </div>
                </div>
                <div class="col text-center">
                    <!-- <button type="button" class="btn btn-primary" onclick="javascript:$('#currentConfig').modal('show');">More details</button> -->
                </div>
            </div>
            </div>
            </div></div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4" hidden>
            <div class="card shadow border-start-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Machines Deployed</span></div>
                            <div class="text-dark fw-bold h5 mb-0"><span>32</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-desktop fa-2x" style="color: darkblue"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block modal %}
    {% include "helpdesk/modal/machineConfigModal.html" %}
{% endblock %}

{% block scripts %}
<script>
    $("#get-config").click(function () {
        console.log("Inside function");
        $.ajax({
            url: 'ajax/validate_username/',
            success: function (data) {
                console.log(data);
            }
        });
        $('#currentConfig').modal('show');
    });
</script>
{% endblock %}

