{% extends "base.html" %}

{% block sidebar %}
<ul class="navbar-nav text-light p-2" id="accordionSidebar">
    <li class="nav-item"><a class="nav-link" href="/helpdesk/dashboard"><i class="fas fa-tachometer-alt fa-3x"></i><span>Dashboard</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/helpdesk/support-form"><i class="fas fa-user-cog fa-3x"></i><span>Support Tickets</span></a></li>
    <li class="nav-item"><a class="nav-link active" href="/helpdesk/logs"><i class="fas fa-user-cog fa-3x"></i><span>Technical Logs</span></a></li>
</ul>
{% endblock %}

{% block content %}
{% load static %}
<h3 class="text-dark mb-3">Logs</h3>
<div class="card">
    <div class="table-responsive p-3 pb-1">
        <table class="table table-borderless">
            <thead>
                <tr class="table-secondary">
                    <th scope="col">Emp. IP Address</th>
                    <th scope="col">Tech ID</th>
                    <th scope="col">Configuration</th>
                    <th scope="col">Difference</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in logs %}
					<tr>
    			        <td id="tid" value="{{ticket.id }}" >{{ ticket.id }}</td>
    					<td><a name="title" value="{{ ticket.title }}" href="javascript:$('#ticket_info').modal('show');">{{ ticket.title }}</a></td>
                        <td><span id="status_color" class="m-1 badge {{ticket.color}}">{{ticket.status}}</span></td>
						<td>{{ ticket.last_update }}</td>
    				</tr>
				{% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block modal %}
    {% include "helpdesk/modal/diffModal.html" %}
    {% include "helpdesk/modal/machineConfigModal.html" %}
{% endblock %}