{% extends "base.html" %}

{% block title %}Helpdesk - Ticket{% endblock title %}

{% block sidebar %}
<ul class="navbar-nav text-light m-2" id="accordionSidebar">
    <li class="nav-item"><a class="nav-link" href="{% url 'helpdesk/dashboard' %}"><i class="fas fa-tachometer-alt fa-3x"></i><span>Dashboard</span></a></li>
    <li class="nav-item" hidden><a class="nav-link" href="{% url 'helpdesk/members' %}"><i class="fas fa-user-cog fa-3x"></i><span>Members</span></a></li>
    <li class="nav-item"><a class="nav-link active" href="{% url 'helpdesk/tickets' %}"><i class="fas fa-exclamation-triangle fa-3x"></i><span>Support Tickets</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/helpdesk/tech-logs"><i class="fas fa-wrench fa-3x"></i><span>Technical Logs</span></a></li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col"><h5 class="mt-2"><b>&nbsp Request Details</b></h5></div>
    <div class="col"><button class="btn btn-primary btn-sm float-end" onclick="javascript: $('#currentConfig').modal('show');">Fetch Configuration</button></div>
</div>
<div class="card mt-2">
    <h6 class="card-header"><strong>Ticket ID -#{{log.id}}</strong></h6>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="mb-3"><label><strong>Title:&nbsp</strong></label> {{log.title}} </div>
                <div class="mb-3"><label><strong>Request Tags:&nbsp</strong></label> {{log.request_tags}} </div>
            </div>
            <div class="col">
                <div class="mb-3"><label><strong>Created By:&nbsp</strong></label>{{log.created_by}}</div>
                <div class="mb-3"><label><strong>Updated On:&nbsp</strong></label>{{log.last_update}}</div>
            </div>
            <div class="col">
                <div class="mb-3 "><label><strong>STATUS:&nbsp</strong></label><span class="badge {{log.color}}">{{log.status}}</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-4">
                    <label><strong>Description:</strong></label>
                    <textarea class="form-control" id="ticketDescription" rows="3" readonly>{{log.description}}</textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if log.status == 'OPENED' %}
                <button class="btn btn-success btn-sm float-end" id="approve">Approve Request</button>
                <button class="btn btn-danger btn-sm" id="reject"  onclick="javascript:$('#ticketDeleteModal').modal('show');">Reject Request</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
  $("#approve").click(function (event) {
    console.log('hiiiiiii')
    event.preventDefault();
    $.ajax({
      type: "POST",
      url: "/helpdesk/isapprove/",
      success: function () {
        $('#approve').css("display", "none");
        $('#reject').css("display", "none");
        console.log('hiiiiiiiiii')
      }
    });
    return true; //<---- move it here
  });

  $("#reject").click(function (event) {
    console.log('hiiiiiii')
    event.preventDefault();
    $.ajax({
      type: "POST",
      url: "/helpdesk/isapprove/",
      success: function () {
        $('#approve').css("display", "none");
        $('#reject').css("display", "none");
        console.log('hiiiiiiiiii')
      }
    });
    return true; //<---- move it here
  });
  });
</script>

{% endblock %}

{% block modal %}
    {% include "helpdesk/modal/ticketDeleteModal.html" %}
    {% include "helpdesk/modal/machineConfigModal.html" %}
{% endblock %}