{% extends "base.html" %}

{% block title %}Helpdesk - Support Tickets{% endblock title %}

{% block sidebar %}
<ul class="navbar-nav text-light m-2" id="accordionSidebar">
    <li class="nav-item"><a class="nav-link" href="/helpdesk/dashboard"><i class="fas fa-tachometer-alt fa-3x"></i><span>Dashboard</span></a></li>
    <li class="nav-item" hidden><a class="nav-link" href="/helpdesk/members"><i class="fas fa-user-cog fa-3x"></i><span>Members</span></a></li>
    <li class="nav-item"><a class="nav-link active" href="{% url 'helpdesk/tickets' %}"><i class="fas fa-exclamation-triangle fa-3x"></i><span>Support Tickets</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/helpdesk/tech-logs"><i class="fas fa-wrench fa-3x"></i><span>Technical Logs</span></a></li>
</ul>
{% endblock %}

{% block content %}
<div class="alert alert-primary" role="alert" id="test" hidden>
    A simple primary alert—check it out!
</div>
<h5 class="mt-2"><b>&nbsp Support Requests</b></h5>
<div class="card">
    <div class="table-responsive p-3 pb-1">
        <table class="table table-borderless">
            <thead>
                <tr class="table-secondary">
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Created By</th>
                    <th scope="col">Request TYPE</th>
                    <th scope="col">Created on</th>
                    <th scope="col">STATUS</th>
                </tr>
            </thead>
            <tbody>
                {% for record in logs %}
					<tr>
    			        <td id="uid" value="{{ record.id }}" >{{ record.id }}</td>
    					<td><a name="title" value="{{ record.title }}" href="/helpdesk/ticket/{{ record.id }}">{{ record.title }}</a></td>
                        <td>{{record.created_by.firstname}}</td>
						<td>{{ record.request_tags }}</td>
    					<td value="{{ record.last_update }}" name="" class="">{{ record.last_update }}</td>
                        <td><span id="status_color" class="m-1 badge {{record.color}}">{{record.status}}</span></td>
    				</tr>
				{% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    setTimeout('$("#test").hide()',5000);
</script>
{% endblock %}